body{
    background-color: rgb(54, 50, 50);
    color: white;
}
.tartalom img{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.tartalom{
    background-color: rgb(54, 50, 50);
}
.resz{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    background-color: red;
}
#container{
    margin: auto;
    width: 850px;
    margin-bottom: 500px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
li{
    font-weight: lighter;
}

#link li{
    list-style-type: none;
    display: inline-block;
    padding-left: 30px;
}
a{
    color: white;
    text-decoration: none;
    
}
.kepek2{
    
    width: 500px;
    height: 680px;
}
#szoveg1{
    font-size: 40px;
    border-bottom: 1px solid red;
    margin: 15px 0px 5px 0px;
}
.masodik{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}
#szoveg2{
    text-align: left;
}

.harmadik img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.harmadik div{
    text-align: center;
    display: inline-block;
    background-color: turquoise;
    border: 85%;
    width: 450px;
    height: 50px;

}
.holdal{
    text-align: center;
}
#rez{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1px;
}
@media only screen and (max-widht: 500px){
    .resz{
        display: grid;
        grid-template-columns: 1fr;
    } 
    #link li{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 30px; 
    }
    #container{
        margin: auto;
        width: 500px; 
    }
    .rez{
        display: grid;
        grid-template-columns: 1fr;
    } 
}